{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% block content %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <title>Beranda</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
        </div>
        <div class="col-6 gap">
          <h1>Hello, Apa kabar ?</h1>
          <form method="POST">
              {% csrf_token %}
              {{ form }}
              <button name="submit" type="submit" class="btn btn-info gap">Submit</button>
          </form>
        </div>
        <div class="col">
        </div>
      </div>
      <div class="row gap">
        <div class="col">
        </div>
        <div class="col-6 gap">
            <table>
                <thead>
                    <th>Status</th>
                </thead>
                <tbody>
                    {% for i in message %}
                    <tr>
                        <td> {{ i.status }} </td>
                        <td class="text-muted" style="padding-left: 2rem; font-size: 0.8rem"> {{i.date_created}} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col">
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>

{% endblock %}